.env
nginx_backup.conf
nginx_quakealert.conf
config/pwfile
__pycache__/
*.pyc
config/firebase-key.json

# Backups and archives
*.tar.gz
quakealert-backup-*/

# Sensitive Security Files
config/certs/

# Databases and Backups
*.db
backup/
